<!DOCTYPE html>
<html>
<head>
  <title>StoreFrontApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='container'>

	<% flash.each do |name, msg| -%>
	  <%= content_tag :div, msg, class: name %>
	<% end -%>

	<div id="top-nav">
	<% if user_signed_in? %>
		<div class="nike-logo">
			<%= link_to image_tag("/images/nike-logo.png"), root_path %>
		</div>

		<div class="top-nav-info">
		  Welcome <strong><%= current_user.first_name %></strong>

			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
		  <!-- add link to shopping cart -->
		  <%= link_to("View Cart", shopping_cart_path(current_user.id)) %>
	  </div>

	<% else %>
		<div>
			<%= link_to "Home", root_path %>
		</div>
	  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
	  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	<% end %>
	</div>

	
	<div id="banner">
		<%= image_tag("/images/rev-banner1.jpg") %>
	</div>

	<!-- nav start -->
	<div id="nav-container">
		<nav>
			<ul>
				<li><%= link_to "Men", men_products_path %></li>
				<li><%= link_to "Women", women_products_path %></li>
	<!-- 			<li><a>Active</a></li>
				<li><a>Accessories</a></li> -->
			</ul>
		</nav>
	</div>



	<%= yield %>
<!-- 	<%= link_to("Home", root_path) %>
	<%= link_to("Products", products_path) %> -->
	<div id="footer">
		<ul>
			<li><a href="http://www.github.com/wongkoty">Made by Koty</a></li>
			<li></li>
		</ul>
	</div>

</div>
</body>
<script>
$(document).ready(function(){
 $('.owl-carousel').owlCarousel({
 		loop: true,
    autoPlay: 3000,
    items: 3
 });
});
</script>
</html>
